
.our-team-logo {
    margin: 20px 20px;
    width: 150px;
    height: auto;
}
.our-team{
    margin: 0% 20%;
}
.our-team h2 {
    text-align: center;
    font-weight: 100;
}
.our-team .message1 {
    text-align: justify;
    margin-right: 30px;
}
.our-team .member-box h6 {
    text-align: center;
}
.our-team .member-box {
    margin-left: 30px;
}
.our-team .row {
    margin-top: 10%;
}