@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .5s all;
  transition: .5s all;
}

h1, h2, h3, h4, h5, h6, p {
  padding-top: 1rem;
}

h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 700;
}

h6, p {
  line-height: 1.5;
}

.navbar {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: .5rem;
}

.navbar .scrolled-down {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar .scrolled-up {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .navbar {
    background: none !important;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    background: none !important;
  }
}

.navbar .nav-link {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
}

.navbar .logo {
  max-width: 100%;
  width: 60px;
  height: auto;
  margin: .5rem;
}

@media screen and (min-width: 320px) {
  .navbar .logo {
    width: 60px;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .navbar .logo {
    width: 80px;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .navbar .logo {
    width: 100px;
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .navbar .logo {
    width: 130px;
    height: auto;
  }
}

.navbar li a {
  padding: 3% 5%;
}

.hero-sec {
  background: black;
  color: white;
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero-sec .overlay-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-width: 100%;
  opacity: 0.4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 320px) {
  .hero-sec .overlay-image {
    background-position: left;
  }
}

.hero-sec .hero-title {
  text-align: center;
  position: absolute;
  top: 30vh;
  margin: 1rem;
}

.hero-sec .hero-title h2 {
  position: relative;
  font-family: 'source code pro', monospace;
  line-height: 1.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero-sec .hero-title #typewriter:after {
  content: "_";
  -webkit-animation: blink 500ms linear infinite alternate;
          animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-sec .hero-title .btn {
  background: #1d9200;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: none;
  border: none;
  padding: .5rem 1.5rem;
}

.hero-sec .hero-title .btn:hover {
  background-color: #004905;
}

@media screen and (min-width: 320px) {
  .hero-sec .hero-title .btn {
    margin: 1rem auto;
  }
}

@media screen and (min-width: 768px) {
  .hero-sec .hero-title {
    width: 60%;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .hero-sec .hero-title {
    width: 50%;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .hero-sec .hero-title {
    width: 50%;
    text-align: left;
  }
}

.company-overview {
  text-align: center;
  padding: 10% 10%;
  background: #000;
  color: white;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .company-overview h6 {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .company-overview h6 {
    font-size: 1.3rem;
  }
}

.service {
  padding: 5% 3%;
  text-align: center;
  background: #1d9200;
  color: white;
  max-width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.service .container {
  padding-top: 10%;
  display: -ms-grid;
  display: grid;
  gap: 2.5rem;
}

.service .container .info {
  padding: 10%;
  background: #3e9c00;
  -webkit-box-shadow: darkgreen 0 1.5rem 1.5rem 0;
          box-shadow: darkgreen 0 1.5rem 1.5rem 0;
}

.service .container .info:hover {
  background: #000;
}

.service .container img {
  max-width: 100%;
  width: 50%;
  height: auto;
}

@media screen and (min-width: 320px) {
  .service .container {
    -ms-grid-column: 1fr;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .service .container {
    -ms-grid-column: 1fr 1fr;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .service .container {
    -ms-grid-column: 1fr 1fr;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .service .container {
    -ms-grid-column: 1fr 1fr;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.testimonials {
  padding: 5% 3%;
  text-align: center;
  background: #313131;
  color: white;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.testimonials .container {
  padding-top: 10%;
  display: -ms-grid;
  display: grid;
}

.testimonials .container .container-msg {
  padding: 0 3%;
}

@media screen and (min-width: 320px) {
  .testimonials .container {
    -ms-grid-column: 1fr;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .testimonials .container {
    -ms-grid-column: 1fr 1fr;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .testimonials .container {
    -ms-grid-column: 1fr 1fr 1fr;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .testimonials .container {
    -ms-grid-column: 1fr 1fr 1fr;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

footer {
  background: #181818;
  color: white;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-align: center;
}

footer .container {
  padding-top: 5%;
  display: -ms-grid;
  display: grid;
}

footer .container img {
  max-width: 100%;
  width: 30%;
  height: auto;
}

footer .container h5 {
  padding-top: 5%;
}

footer .container li {
  list-style: none;
}

footer .container ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10%;
}

@media screen and (min-width: 320px) {
  footer .container {
    -ms-grid-column: 1fr;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 768px) {
  footer .container {
    -ms-grid-column: 1fr 1fr;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  footer .container {
    -ms-grid-column: 1fr 1fr 1fr;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  footer .container {
    -ms-grid-column: 1fr 1fr 1fr;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}
/*# sourceMappingURL=main.css.map */