//fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

//mixin
@import '_mixings.scss';

//html
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//body
body{
    font-family: 'Open Sans', sans-serif;
}

// typography
h1{
    font-size: 1.5em;
    font-weight: 800;
    padding-top: 3%;
}
h2{
    font-size: 1.1em;
    font-weight: 600;
    padding-top: 3%;
    line-height: 1.5em;
}
h3{
    font-size: 1em;
    font-weight: 500;
    padding-top: 1%;
    line-height: 1.5em;
}
p{
    font-size: 0.8em;
    font-weight: 400;
    padding-top: 4%;
    line-height: 1.9em;
}

//navbar

.navbar{
       .container{
        display: flex;
        flex-direction: row;
        padding: 0 5%;

        .logo{
            width: 30%;
            height: auto;
        }
        
        ul{
            padding-top: 3%;

        li a{
            padding: 3%; 
        }  
        }
    }
}

//hero section
.hero-sec{
    background: rgb(0, 36, 0);
    color: white;
    padding: 10% 5%;
    height: max-content;
    width: 100%;

    .hero-title{
        text-align: center;
        span{
            background: green;
            font-size: 0.8em;
            font-weight: 300;
            padding: 1% 3%;
        }
        
        a{
            background: green;
            color: white;
            font-weight: 500;
            margin-top: 5%;
            padding: 2%;
        }
    }
}

    //service section start

.service{
    padding: 5% 3%;
    text-align: center;
    background: rgb(1, 46, 0);
    color: white;
    width: 100%;
    height: max-content;
    
    .container{
        padding-top: 10%;
        display: grid;

        img{
            max-width: 100%;
            width: 50%;
            height: auto;
            padding-top: 15%;
        }
        @include breakpoint(tablet){
            -ms-grid-column: 1fr 1fr;
            grid-template-columns: repeat(2, 1fr);
        }

    }

} 

//testimonials start here
.testimonials{
    padding: 5% 3%;
    text-align: center;
    background: rgb(49, 49, 49);
    color: white;
    width: 100%;
    height: max-content;

    .container{
        padding-top: 10%;
    }
}

//footer start here
footer{
    background: rgb(24, 24, 24);
    color: white;
    width: 100%;
    height: max-content;
    text-align: center;


    .container{
        padding-top: 5%;
        img{
            max-width: 100%;
            width: 30%;
            height: auto; 
        }
        h3{
            padding-top: 5%;
        }
        li{
            list-style: none;
        }
        ul{
            list-style: none;
            display: flex;
            justify-content: center;
            padding: 0 10%;
        }

    }
}