@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'Poppins', sans-serif;    
    font-size: 1.2em;
}

.navbar{

       .container{
        display: flex;
        flex-direction: row;
        padding: 3% 0;

        .logo{
            width: 30%;
            height: auto;
        }
    }

}
