//mixin
@import '_mixings.scss';

//html
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .5s all;
}

// typography
//google fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic");

// font families

$font-family-sans-serif: -apple-system,
system-ui,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif !default;

$font-family-serif: Georgia,
"Times New Roman",
Times,
serif !default;

$font-family-monospace: Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace;

//spacing
h1, h2, h3, h4, h5, h6, p {
    padding-top: 1rem;
}
h1{
    font-size: clamp(2rem, 5vw, 3.5rem);
    font-weight: 700;
}

h6, p {line-height: 1.5;}

//navbar
.navbar {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: .5rem;

    .scrolled-down{
        transform:translateY(-100%); transition: all 0.3s ease-in-out;
      }
      .scrolled-up{
        transform:translateY(0); transition: all 0.3s ease-in-out;
      }

    @include breakpoint(laptop){
        background: none !important;
    }
    @include breakpoint(desktop){
        background: none !important;
    }

        .nav-link{
            color: rgb(255, 255, 255);
            font-weight: 500;
            font-size: 1.3rem;
        }

        .logo img{
            max-width: 100%;
            height: auto;
            margin-top: .5rem;
            margin-left: 1rem;

            @include breakpoint(mobile){
                width: 25%;
                height: auto;
            }
            @include breakpoint(tablet){
                width: 30%;
                height: auto;
            }
            @include breakpoint(laptop){
                width: 30%;
                height: auto;
            }
            @include breakpoint(desktop){
                width: 30%;
                height: auto;
            }

        }
        
        li a{
            padding: 3% 5%;
        }  

    }

//hero section
.hero-sec{
    background: rgb(0, 0, 0);
    color: white;
    width: 100%;
    height: 100vh;
    position: relative;

    .overlay-image{
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
        max-width: 100%;
        max-width: 100%;
        opacity: 0.4;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        @include breakpoint(mobile){
            background-position: left;
        }
    }

    .hero-title{
        text-align: center;
        position: absolute;
        top: 30vh;
        margin-left: 1.3rem;

        h2 {
            position: relative;
            font-family: 'source code pro', monospace;
            line-height: 1.5;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        #typewriter {
            &:after{
              content: "_";
              animation: blink 500ms linear infinite alternate;
            }
        }
        @keyframes blink{
          0%{opacity: 0;}
          100%{opacity: 1;}
        }

        .btn{
            background: #91D300;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-size: 1.3rem;
            text-decoration: none;
            border: none;
            padding: .7rem 1rem;

            &:hover{
            background-color: rgb(0, 73, 5);
            }

            @include breakpoint(mobile){
                margin: 1rem auto;
            }
        }
        
        @include breakpoint(mobile){

        }
        @include breakpoint(tablet){
            width: 60%;
            text-align: left;
        }
        @include breakpoint(laptop){
            width: 50%;
            text-align: left;
        }
        @include breakpoint(desktop){
            width: 50%;
            text-align: left;
        }
    
    }
}

 //company-overview section start
 .company-overview{
     text-align: center;
     padding: 10% 10%;
     background: #000;
     color: white;
     position: relative;

     @include breakpoint(laptop){
        h6{font-size: 1.2rem;}
    }
    @include breakpoint(desktop){
        h6{font-size: 1.3rem;}
    }
 }

 //service section start
.service{
    padding: 5% 3%;
    text-align: center;
    background: rgb(29, 146, 0);
    color: white;
    max-width: 100%;
    height: max-content;
    
    .container{
        padding-top: 10%;
        display: grid;
        gap: 2.5rem;

        .info{
            padding: 10%;
            background: rgb(62, 156, 0);
            box-shadow: darkgreen 0 1.5rem 1.5rem 0;

            &:hover{
                transform: scale(1.05);
            }
        }

        img{
            max-width: 100%;
            width: 50%;
            height: auto;
            // padding-top: 15%;
        }
        @include breakpoint(mobile){
            -ms-grid-column: 1fr;
            grid-template-columns: repeat(1, 1fr);
        }
        @include breakpoint(tablet){
            -ms-grid-column: 1fr 1fr;
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint(laptop){
            -ms-grid-column: 1fr 1fr;
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint(desktop){
            -ms-grid-column: 1fr 1fr;
            grid-template-columns: repeat(2, 1fr);
        }
    }

} 

//testimonials start here
.testimonials{
    padding: 5% 3%;
    text-align: center;
    background: rgb(49, 49, 49);
    color: white;
    width: 100%;
    height: max-content;

    .container{
        padding-top: 10%;
        display: grid;

        .container-msg{
            padding: 0 3%;
        }

        @include breakpoint(mobile){
            -ms-grid-column: 1fr;
            grid-template-columns: repeat(1, 1fr);
        }
        @include breakpoint(tablet){
            -ms-grid-column: 1fr 1fr;
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint(laptop){
            -ms-grid-column: 1fr 1fr 1fr;
            grid-template-columns: repeat(3, 1fr);
        }
        @include breakpoint(desktop){
            -ms-grid-column: 1fr 1fr 1fr;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

//footer start here
footer{
    background: rgb(24, 24, 24);
    color: white;
    width: 100%;
    height: max-content;
    text-align: center;


    .container{
        padding-top: 5%;
        display: grid;

        img{
            max-width: 100%;
            width: 30%;
            height: auto; 
        }
        h5{
            padding-top: 5%;
        }
        li{
            list-style: none;
        }
        ul{
            list-style: none;
            display: flex;
            justify-content: center;
            padding: 0 10%;
        }
    
        @include breakpoint(mobile){
            -ms-grid-column: 1fr;
            grid-template-columns: repeat(1, 1fr);
        }
        @include breakpoint(tablet){
            -ms-grid-column: 1fr 1fr;
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint(laptop){
            -ms-grid-column: 1fr 1fr 1fr;
            grid-template-columns: repeat(3, 1fr);
        }
        @include breakpoint(desktop){
            -ms-grid-column: 1fr 1fr 1fr;
            grid-template-columns: repeat(3, 1fr);
        }

    }
}